<footer>
    <div class="container-fluid mt-5">

        <div class="row p-5 mt-5">

            <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mt-5">
                <p class="h5">Encuéntrenos en:</p>
                    <div class="contenedor-redes mb-4 d-flex justify-content-around">
                        <a class="enlace-redes" href="#">
                            <div class="div-enlace-redes">
                                <img class= "img-redes" src="../../../assets/logos/logo-twitter.png" alt="logo-twitter">
                                <!-- <span>www.twitter.com/empresa</span> -->
                            </div>
                        </a>

                        <a class="enlace-redes" href="#">
                            <div class="div-enlace-redes">
                                <img class="img-redes" src="../../../assets/logos/logo-facebook.png" alt="logo-facebook">
                                <!-- <span>www.facebook.com/empresa</span> -->
                            </div>
                        </a>

                        <a class="enlace-redes" href="#">
                            <div class="div-enlace-redes">
                                <img class="img-redes" src="../../../assets/logos/logo-instagram.png" alt="logo-instagram">
                                <!-- <span>www.instagram.com/empresa</span> -->
                            </div>
                        </a>
                    </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mt-5">
                <p class="h5">Asesoramiento experto</p>
                <div class="enlaces-items-footer">
                    <a href="">Inversiones</a>
                    <a href="">Cuentas</a>
                    <a href="">Bajas</a>
                </div>

            </div>

            <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mt-5">
                <p class="h5">Soporte</p>
                <div class="enlaces-items-footer">
                    <a href="">Comunícate con nosotros</a>

            </div>

            </div>


            <div class="col-xs-12">
                <p class="p-copyright text-center pt-4">Copyright - All reserved 2023</p>
            </div>

        </div>

    </div>
</footer>
