<div class="d-flex">
    <sidebar></sidebar>

    <main class="ps-md-2 pt-2 main">
        
        <!-- Contenedor de la seccion -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <!-- seccion de charts -->
                <div class="container-fluid">

                    <!-- Header title and description -->
                    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
                    <p class="mb-4">En esta seccion podras ver todas las metricas de tus inversiones, las cotizaciones del mercado y 
                        el dinero generado a travez del broker.
                    </p> 

                    <!-- Seccion Charts -->
                    <div class="row ">

                        

                        <!-- Area Chart -->
                        <div class="col-12  ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Acciones del Mercado</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area pt-5">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                    <hr>
                                    Area chart description.
                                </div>
                            </div>
                        </div>

                        <!-- Bar Chart -->
                        <div class="col-xl-7 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Ganancias mensuales</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar pt-4">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                    En este grafico veras tu ganancias generadas mensualmente.
                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-5 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Tus Inversiones</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                    Cake chart description.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seccion Table -->
                    <div class="col-xl-12 col-lg-12">
                        <table class="table table-striped shadow mb-4">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Empresas</th>
                                  <th scope="col">Cotizacion de compra</th>
                                  <th scope="col">Cotizacion Actual</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>MELI</td>
                                  <td>1500 usd</td>
                                  <td>3000 usd</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>SHELL</td>
                                  <td>850 usd</td>
                                  <td>780 usd</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>MICROSOFT</td>
                                  <td>1500 usd</td>
                                  <td>2200 usd</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <shared-footer></shared-footer>
       
    </main>
  

</div>
