<div class="card rounded-3 student-card shadow ">
    <div class=" d-flex ">
        <img src="images/team/carnet.jpg" style="width: 100%;" class="rounded-top" alt=""
            srcset="">
    </div>
    <div class="p-4 pt-3 text container">
        <div class="">
            <h5 class="text-center"
                style="font-family: 'Roboto', sans-serif; color: #000000; font-weight: 700; ">
                Diego Guzmán</h5>
                <h6 class="text-center fw-bold">Full-Stack</h6>
            <ul class="list-group w-100 ">
                <li class="">
                    <a href="https://www.linkedin.com/in/diego-guzm%C3%A1n-cerveux/"
                        target="_blank" class="text-dark  link-style">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/diego-guzm%C3%A1n-cerveux/"
                        target="_blank" class="ms-1 text-dark  link-style">Linkedin</a>
                </li>

                <li class="">
                    <a href="https://cerveux.dev.ar/" target="_blank" class="text-dark link-style"><i
                            class="bi bi-briefcase-fill"></i></a>
                    <a href="https://cerveux.dev.ar/" target="_blank"
                        class="ms-1 text-dark link-style">Portfolio</a>
                </li>

                <li class="">
                    <a href="https://github.com/cerveux" target="_blank" class="text-dark link-style"><i
                            class="bi bi-github"></i></a>
                    <a href="https://github.com/cerveux" target="_blank"
                        class="ms-1 text-dark link-style">Github</a>
                </li>
            </ul>
        </div>

    </div>

</div>