<main class="d-flex">
    <sidebar></sidebar>
    <div class="ps-md-2 pt-2 container-fluid main">
        <!-- Contenedor de la seccion -->
        <div id="content-wrapper vista" class="d-flex flex-column">
            <div id="content">
                <!-- seccion de charts -->
                <div class="container-fluid">
                    <!-- Header title and description -->
                    <h3 class="h3 mt-2 mb-2 text-gray-800 w-25 ">Portfolio</h3>
                    <p class="mb-4">En esta seccion podras ver todas las metricas de tus inversiones, las
                        cotizaciones del mercado y
                        el dinero generado a travez del broker.
                    </p>
                    <!-- Seccion Charts -->
                    <div class="row">
                        <div class="col-xl-10 col-lg-10">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Informacion de Saldo</h6>
                                </div>
                                <div class="card-body">
                                    <h1>${{userData.accountMoney |  number:'1.2-2'}}</h1>
                                    <h5>Valor del portafolio</h5>
                                    <br>
                                    <table class="table table-striped shadow mb-4">
                                        <thead>
                                            <tr>
                                                <th scope="col">Efectivo disponible</th>
                                                <th scope="col">Total invertido</th>
                                                <th scope="col">Ganancia/Perdida</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$ 100.000</td>
                                                <td>$ 1.500</td>
                                                <td>$ 3.000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
  

</main>

