
<aside class="sidebar p-3">
    <div class="menu-button">
        <i class="las la-bars" style="font-size: 35px"></i>
    </div>
    <div class="sidebar-items">
        <div class="item" style="font-size: 35px"> 
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >
                <i class="las la-home"></i>
                <span>Inicio</span>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >
                <i class="las la-suitcase"></i>
                <span>Portfolio</span>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/cotizaciones']" routerLinkActive="router-link-active" >
                <i class="lar la-chart-bar"></i>          
                <span>Cotizaciones</span>
            </a>
        </div>
        <div class="item mt-5">
            
            <span>Cambiar a virtual</span>
        </div>
        <div class="item">
            <i class="las la-user-tie"></i>            
            <span>Nosotros</span>
        </div>
    </div>

</aside>
