.sidebar{
    height: 100vh;
    width: 250px;
    background-color: #112D4E;
    z-index: 1;
    
}

.sidebar2{
    height: 100vh;
    width: 250px; 
    transition: width 1s;
     
}

a{
    text-decoration: none;
    font-size: 30px;
    color: #F9F7F7;
}

i{
    font-size: 30px;
    color: #F9F7F7;
}

button{
    background-color: #112D4E;
    padding: 0;
}

.escondida{
    width: 60px;
    transition: 0.2ms;
    transition: width 1s;

}

@media only screen and (max-width: 600px) {
    .sidebar2{
      
        width: 60px; 

         
    }

}