
<aside class=" " >

    

    <div class="sidebar p-3 d-flex flex-column  justify-content-between fixed-top  ">
    <div class="sidebar-items">
        <div class="menu-button">
            <button class="btn" (click)="switchWidth()">
                <i class="las la-bars"></i>
            </button>
        </div>
        <div class="item" style="font-size: 35px"> 
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >
                <i class="las la-home"></i>
                <span  class="ms-3 ">Inicio</span>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >
                <i class="las la-suitcase"></i>
                <span  class="ms-3 ">Portfolio</span>
            </a>
        </div>
        <div class="item">
            <a [routerLink]="['/cotizaciones']" routerLinkActive="router-link-active" >
                <i class="lar la-chart-bar"></i>          
                <span class="ms-3 ">Cotizaciones</span>
            </a>
        </div>
        
    </div>
    <div class="sidebar-items-bottom">
        <div class="item">
            
            <!-- <button class="btn btn-light text-light w-  ">virtual</button> -->
        </div>
        <div class="item">
            <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active" >
                <i class="las la-user-tie"></i>            
                <span class="ms-3 ">Nosotros</span>
            </a>
        </div>
        <div class="item">
            <a  class="text-light" (click)="cerrarSesion()">
                <i class="las la-sign-out-alt"></i>            
                <span class="ms-3 ">Salir</span>
            </a>
        </div>
    </div>

</div>
<div class="space sidebar2 " [ngClass]="{escondida: isNarrow}" >
    

</div>

</aside>
