@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --AzulOscuro-color: #164B60;
    --Azul-color: #1B6B93;
    --Celeste-color: #4FC0D0;
    --Verde-color: #A2FF86;
}