/* You can add global styles to this file, and also import other style files */
﻿

.main{
    background-color: #F9F7F7;
    z-index: 2;
}

.ng-valid:not(form).ng-touched
{
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442; /* red */
}